*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    padding: 0;
    margin: 0;
}


h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

.table-container{
    height: 100%;
}

.table-comp{
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
    .table-comp .table-comp-header{
        display: grid;
        grid-template-columns: repeat(4,minmax(100px, 200px))  repeat(2, auto);
        gap: 10px;
    }
        
        .table-comp .table-comp-header {
            padding: 10px 0px;
        }
            .table-comp-header .table-header-cell{
                font-size: 18px;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.65);
            }

            .table-comp-saeson-record .season-date{
                color: rgba(0, 0, 0, 0.15);
                font-size: 18px;
                font-weight: bold;

            }

            .table-comp .table-comp-body .record{
                display: grid;
                grid-template-columns: repeat(4,minmax(100px, 200px)) 120px repeat(2, auto);
                gap: 10px;
            }
                .record .table-body-cell select{
                    border:none;
                    outline:none;
                    background-color: #e8ecef;
                    cursor: pointer;
                    -moz-appearance:none; 
                    -webkit-appearance:none; 
                    appearance:none;
                    padding-left: 10px;
                    padding-right: 10px;
                }
                .select{
                    position: relative;
                    font-size: 18px;
                    font-weight: 500;
                    color: rgba(0, 0, 0, 0.65);
                    border-radius: 8px;
                }
                .record .table-body-cell .select:after{
                    content: '';
                    cursor: pointer;
                    position: absolute;
                    top: 60%;
                    transform: translateY(-50%);
                    right: 15px;
                    border: 5px solid;
                    border-color: black transparent transparent transparent;
                }
                .record .table-body-cell input{
                    padding: 0 10px;
                    cursor: pointer;
                }
                .record .table-body-cell input:not([disabled]){
                    border:none;
                    outline:none;
                    background-color: #e8ecef;
                }
                input[type="date"]::-webkit-calendar-picker-indicator{
                    cursor: pointer;
                    opacity: 0;
                    margin: 0px -10px;
                    width: 20%;
                    height: 100%;
                }

@media screen and (max-width:1440px) {
    .record .table-body-cell .select:after{
        border: 4px solid;
        border-color: black transparent transparent transparent;
    }
}
@media screen and (max-width:1220px) {
    .table-comp .table-comp-header{
        grid-template-columns: repeat(4,minmax(100px, 150px))  repeat(2, auto);
    }
    .table-comp .table-comp-body .record{
        grid-template-columns: repeat(4,minmax(100px, 150px)) 120px repeat(2, auto);
    }
}
@media screen and (max-width:100px) {
    .table-comp .table-comp-header{
        grid-template-columns: repeat(4,minmax(100px, 110px)) repeat(2, auto);
    }
    .table-comp .table-comp-body .record{
        grid-template-columns: repeat(4,minmax(100px, 110px)) 120px repeat(2, auto);
    }

    
    .table-comp-body .table-body-cell, 
    .table-comp-header .table-header-cell{
        font-size: 14px;
        font-weight: 700;
    }
}
@media screen and (max-width:769px) {
    .table-comp .table-comp-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .table-comp .table-comp-header .table-header-cell{
        padding: 10px 20px;
    }

    .table-comp .table-comp-body{
        display: flex;
        justify-content: stretch !important;
    }
    .table-comp .table-comp-body .record{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 20px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100;
    }
}

@media screen and (max-width:425px) {
    .table-comp .table-comp-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .table-comp .table-comp-header .table-header-cell{
        padding: 1px;
        font-size: 12px;
        font-weight: 700;
    }
    
    .table-comp .table-comp-body{
        display: flex;
        justify-content: center !important;
    }
        .table-comp .table-comp-body .record{
            width: 100%;
        }
        .table-comp .table-comp-body .record:nth-child(1){
            width: 100% ;
        }
}

@media screen and (max-width:375px) {
    .table-comp .table-comp-header .table-header-cell{
        font-size: 11px;
        padding: 0;
    }
}
@media screen and (max-width:320px) {
    .table-comp .table-comp-header .table-header-cell{
        font-size: 9px;
    }
}