<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/style.css">
    <script defer src="../js/myJs.js"></script>
</head>
<body>
    <div class="wrapper">
        <nav id="sidebar">
          <ul class="list-unstyled components">
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
          </ul>
        </nav>
        <div id="content">
          <button type="button" id="sidebarCollapse">Toggle Sidebar</button>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat augue eget ligula elementum, ac pretium nibh sagittis. Duis eu libero vitae nisi bibendum laoreet a quis quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
          <div class="card">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt, reiciendis molestias quam molestiae quibusdam necessitatibus. Praesentium ipsam placeat deleniti, at nisi fugiat obcaecati, eum delectus corrupti, quaerat neque reiciendis doloribus?
          </div>
        </div>
      </div>
      
</body>
</html>