<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/dashboard.css">
    <link rel="stylesheet" href="../fontawesome-free-6.2.0-web/css/all.css">
    <title>Dashboard</title>
    <script defer src="../js/dashboard.js"></script>
</head>
<body>
    <div id="dashboard">
       <div class="container-tap">
        <div class="path-tap">
            <a href="#" data-path="main">main</a>
            <a href="#" data-path="dashboard">dashboard</a>
            <a href="#" data-path="products">products</a>
            <a href="#" data-path="services">services</a>
        </div>
       </div>
    </div>
</body>
</html>